@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter_28pt-Medium.ttf");
}
@font-face {
  font-family: "Actor";
  src: url("/fonts/Actor/Actor-Regular.ttf");
}

.tag-list-title {
  font-family: "Actor", Arial, sans-serif;
  font-size: 3vh;
  font-weight: 400;
  line-height: 4vh;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 2vh;
}

.tag {
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-size: 2.5vh;
  font-weight: 700;
  line-height: 4vh;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 0.5vh;
}

.tag-list {
  padding: 1vh;
  position: sticky;
  top: 17vh;
  display: block;
  height: 80vh;
  flex-direction: column;
  right: 0;
  min-width: 36vh;
  background-color: rgb(255, 230, 169);
  border: 0.1vh solid black;
  font-size: 2vh;
}

.tag-outer-ext {
  position: fixed;
  right: 37vh;
  top: 20vh;
}

.tag-list-title-ext {
  position: sticky;
  width: 100%;
  background-color: rgb(255, 230, 169);
  top: 0px;
  border-bottom: 0.2vh solid black;
  margin-bottom: 1vh;
  z-index: 2;
}

.tag-list-title-ext span {
  font-size: 3vh;
  font-weight: 400;
  line-height: 4vh;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: "Actor", Arial, sans-serif;
}

.tag-list-title-ext input {
  background-color: rgb(220, 220, 220);
  outline: none;
  border: 0.1vh solid black;
  border-radius: 1vh;
  margin: 1vh;
  font-size: 2.6vh;
  overflow-x: scroll;
}
.tag-list-title-ext input::placeholder {
  color: black;
  font-size: 2.4vh;
  padding: 1vh;
}
.tag-ext {
  font-size: 2.5vh;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-size: 3.5vh;
  font-weight: 500;
  line-height: 4vh;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 2.5vh;
}

.tag-list-ext {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 20vh;
  height: 50vh;
  width: 36vh;
  overflow: auto;
  /* scrollbar-width: none; */
  /* -ms-overflow-style: none; */

  background-color: rgb(255, 255, 255);
  border: 0.1vh solid black;
  font-size: 2vh;
}

.tag-list-container {
  height: 60vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 1vh;
}
