.profile-image-container::after {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0; /* Лінія розташовується внизу */
  left: 0;
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.profile-image-container:hover::after {
  transform: scaleX(1);
}

.profile-image-overlay {
  position: absolute; /* Позиціонуємо поверх */
  top: 0;
  left: 0;
  width: 100%; /* Зображення займає всю ширину контейнера */
  height: 100%; /* Зображення займає всю висоту контейнера */
  object-fit: contain; /* Адаптуємо зображення по контейнеру */
  opacity: 0; /* Спочатку зображення невидиме */
  border: 0;
  border-radius: 0;
  z-index: 1;
  transition: opacity 0.3s ease; /* Додаємо плавний перехід */
}

.profile-image-container:hover .profile-image-overlay {
  opacity: 0.6; /* Зображення з'являється при наведенні */
}

.profile-image {
  cursor: pointer;
}
