
/* Chat.css */
.chat-win-container {
  display: flex;
  height: 86vh;
  margin-top: 14vh;
  width: 100%;
  background: #f9f9f9;
}

/* Ліва колонка */
.chat-list-ct {
  width: max-content;
  min-width: 30%;
  height: 86vh;
}
.chat-hd {
  display: flex;
  padding: 5vh 20% 2vh 10%;
  width: max-content;
  min-width: 100%;
  background: #d9d9d9b2;
  border-bottom: 0.3vh solid #cbcbcca8;
}
.chat-hd p {
  margin: 0;
  font-size: 23px;
  font-family: "Inter-SemiBold";
}
.chat-list {
  width: max-content;
  min-width: 100%;
  height: 74vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background: #fff7eb;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}
.chat-name-ct {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
.chat-name-text p {
  margin: 0;
  font-size: 3vh;
  font-family: "Inter";
  color: #000;
}
.chat-pre-img {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background: #d9d9d9;
}
.chat-item {
  padding: 1vh 5% 1vh 5%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.chat-item:hover {
  background: #f5f5f5;
}
.chat-item.active {
  background: #65928799;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-unread-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d9d9d9;
  color: #000;
  border-radius: 30px;
  padding: 3px 0;
  width: 45px;
}
.unread-badge {
  font-size: 16px;
  font-family: "Inter";
  margin: 0;
}

/* ~~~   Chat Window   ~~~ */
.chat-window {
  flex: 1;
}
.chat-container {
  width: 100%;
  height: 86vh;
  display: flex;
  flex-direction: column;
}
.chat-ct-hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #acc3d3a8;
  padding: 3.5vh 4% 3.5vh 6%;
  border-bottom: 0.3vh solid #fff7ebf2;
}
.chat-ct-hd-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-ct-hd-name p {
  margin: 0;
  font-size: 3vh;
  font-family: "Inter-SemiBold";
}
.chat-ct-hd-pre-svg {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  aspect-ratio: 1;
  color: #000;
}
.chat-ct-hd-pre-svg svg {
  width: 100%;
  height: 100%;
}
.chat-input {
  height: 8vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 2vh 3%;
  gap: 7vh;
  background: #acc3d3a8;
}
.chat-reply {
  display: flex;
  align-items: flex-end;
  gap: 6vh;
  padding: 22px 60px 22px 29px;
  background: #a8d3c3a8;
}
.reply-label {
  background: rgba(172, 195, 211, 0.8);
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.reply-label-info {
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.reply-label-author {
  font-weight: 600;
}
#chat-message-input {
  flex-grow: 1;
  border: none;
  font-size: 2.5vh;
  font-family: "Inter";
  background: transparent;
  outline: none;
  padding: 0.4vh 1vw;
  outline: none;
}
#chat-message-input::placeholder {
  color: #659290;
  letter-spacing: 0.02em;
}

.send-smile-btn svg,
.send-msg-btn svg {
  width: 100%;
  height: 100%;
}

.send-smile-container {
  position: relative;
  display: inline-block;
}

.send-smile-btn {
  position: relative;
  z-index: 101;
}

.invisible-gap {
  z-index: 200;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px; /* Висота інтервалу */
  pointer-events: auto;
}

.emoji-picker {
  position: absolute;
  bottom: calc(100% + 10px); /* Відступ від кнопки */
  left: 0;
  transform: translateX(-50%);
  z-index: 100;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  opacity: 0; /* Початково прихований */
  visibility: hidden; /* Щоб елемент не блокував взаємодію */
  pointer-events: none; /* Забороняє взаємодію, поки пікер невидимий */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавний перехід */
}

.send-smile-btn:hover ~ .emoji-picker,
.invisible-gap:hover + .emoji-picker,
.emoji-picker:hover {
  opacity: 1; /* Робимо видимим */
  visibility: visible; /* Дозволяємо взаємодію */
  pointer-events: auto; /* Знімаємо блокування взаємодії */
}

ul.chat-messages {
  height: 67vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.message-author-name,
.message-timestamp {
  margin: 1.3vh 5%;
  font-weight: 600;
  font-size: 2.5vh;
}
.message-author-name {
  margin-right: 4%;
  user-select: text;
}
.message-reply-label {
  margin: 1vh 5% 0 3%;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2vh;
}
.uTou-message {
  user-select: none;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: gray;
  /* все летить, якщо використовувати відсотки */
  /* max-width: 50%; */
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 35vw;
  margin: 3vh 3%;
  border-radius: 3vh;
  z-index: 0;
}
.attached-files-container {
  padding: 0 20px;
}
.mes-triangle {
  content: "";
  position: absolute;

  width: 20px;
  height: 40px;

  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Створення трикутника */
  transform: translateY(50%);
  z-index: -1;
}
