.submain-in {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 13vh;
  padding: 0 2vh;
  width: 80vh;
  background-color: rgb(244, 236, 224);
}
@media (max-width: 768px) {
  .submain-in{
    width: 100%;
    margin-top: 10vh;
  }
  
}
