.media-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  row-gap: 10px;
  max-width: 100%;
  margin-bottom: 20px;
}

.media-image {
  width: 45%;
  max-height: 45vh;
  height: auto;
  flex-grow: 1;
  border-radius: 20px;
  object-fit: cover;
}

.media-url {
  color: #555;
  word-break: break-word;
  font-size: 14px;
}

.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8px;
  background-color: #fff7eb;
  border-radius: 15px;
  overflow: hidden;
}

.file-header {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}

.file-name {
  font-size: 18px;
  color: #333333;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
