.comment-outer {
  border: 0.1vh solid black;
  border-radius: 2vh;
  padding: 1vh;
  width: 55%;
  margin-top: 1vh;
}
.comment-outer-reply {
  border: 0.1vh solid black;
  border-radius: 2vh;
  padding: 1vh;
  width: 50%;
  margin-top: 1vh;
}
.comment-input-container {
  width: 90%;
}
#comment-input {
  background-color: #d3e5ee;
  border: none;
  border-radius: 1vh;
}
#comment-input::placeholder {
  color: #88aaab;
}
#comment-input:focus {
  outline-color: #88aaab;
}
