.create-topic-container {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  align-items: flex-start;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.title {
  font-family: Inter;
  font-size: 26px;
  font-weight: 500;
  line-height: 31.47px;
}

.create-topic-inner {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.topic-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 5vh;
}

.topic-type-option {
  cursor: pointer;
  user-select: none;
}

.topic-type-chosen {
  box-shadow: 0 3px 0 0 #659287;
}

.file-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1vh;
  color: #314541;
  background-color: #d9d9d9;
  width: 100px;
}
#title {
  display: flex;
  flex-direction: row;
}
.for_font {
  font-size: 2.5vh;
  height: auto;
  outline: none;
  border: none;
  border-radius: 0cap;
  word-wrap: break-word;
  resize: none;
  scrollbar-width: none;
  background-color: #d9d9d9;
  overflow-x: hidden;
}
.for_font:focus {
  outline: none;
  box-shadow: none;
}
.for_font::placeholder {
  color: black;
}
.title-input,
.tag-input {
  width: 100%;
  padding: 6px 12px;
  overflow-x: hidden;
  outline: none;
  border: none;
  resize: none;
  word-wrap: break-word;
  font-size: 2.5vh;
  overflow: hidden;
}
.title-input::placeholder,
.tag-input::placeholder {
  color: #333;
}
.find-list {
  position: relative;
  top: -1vh;
  width: 100%;
  background-color: white;
  list-style-type: none;
  padding: 1vh;
  padding-top: 2.3vh;
  border-radius: 0 0 3vh 3vh;
  font-size: 2.5vh;
  border: 0.1vh solid black;
  z-index: 1;
  overflow-y: auto;
  height: 30vh;
}
.find-list-item {
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;
}
.find-list-item:hover {
  background-color: #d9d9d9;
}
.selected-tags-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.selected-tags {
  background-color: #d9d9d9;
  width: auto;
  border-radius: 2vh;
  display: inline-block;
  margin: 0.8vh;
  padding: 0.5vh;
  color: #314541;
  font-size: 14px;
}

.tag-select-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #659287;
  color: white;
  width: 100px;
  font-size: 20px;
}

.input-left:focus {
  box-shadow: -0.5vh 0 0 0 #659287;
}
