.glob {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.563);
  z-index: 1000;
}
.glob-reg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}
.card-body {
  padding-left: 80px;
  padding-right: 80px;
  width: 480px;
}
.card {
  background-color: rgb(255, 247, 235);
}
